.thumbnail button{
	margin-right: 2px;
	margin-bottom: 2px;
	/*
	position: absolute;
	padding-left: 5px; 
	padding-right: 5px;
	top: 5px;
	z-index: 100; 
	width: 175px;
	*/
}

.img-thumbnail{
	width: 175px;
	height: auto;
	z-index: 1;
}

.thumbnail .caption{
	padding: 0px;
}

h3{
	margin-top: 5px;
	margin-bottom: 5px;
}

p{
	margin-bottom: 5px;
}
