.container-full {
  margin: 0 auto;
  width: 100%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

body { padding-top: 50px; }

a.navbar-brand {
	color: #428bca !important;
}

.navbar { height: 50px; }

.container-full {
  margin: 0 auto;
  width: 100%;
}

.top-buffer { padding-top:10px; }
.bottom-buffer { padding-bottom:10px; }

.caption {text-align:center;}

/* angularjs animation */
.slide.ng-move,
.slide.ng-enter,
.slide.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.slide.ng-leave.ng-leave-active,
.slide.ng-move,
.slide.ng-enter {
  opacity:0;
  max-height:0;
}

.slide.ng-leave,
.slide.ng-move.ng-move-active,
.slide.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}
